@import url('https://fonts.googleapis.com/css2?family=Ubuntu&Arial&Vogue');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: #E7ECF4;
    scroll-behavior: smooth;
}

.pagina{
    position: relative;
    min-height: 100%;
 }

.conteudo-principal{
    padding:10px;
    padding-bottom: 100px;
}

.cabecalho{
    height: 70px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: rgba(48, 95, 170, 0.13);
    border-bottom: 2px solid #D2D2D2;
}

.cabecalho-imagem-logo{
    height: 70px;
    background: none;
}
 
.cabecalho-menu {
    display:flex;
    gap: 110px;
    padding: 25px;
    background: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 0px;
    
}

.cabecalho-menu-item-home{
    color: #383737;
}

.cabecalho-menu-item-processo{
    color: #383737;
}

.cabecalho-menu-item-projeto{
    color: #383737;
}

.cabecalho-menu-item-quemsomos{
    color: #383737;
}

.cabecalho-menu-item-fontes{
    color: #383737;
}

.conteudo-principal-escrito-titulo{
    display:flex;
    justify-content: left;
    padding: 30px;
    font-family: 'Vogue';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 3px;
    color: #314A72;
    top: 0; 
    left:0;
}

.conteudo-principal-escrito-paragrafos{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 35px; 
    text-align: left;
    color: #1B1B1B; 
    margin: 0 auto;
    width: 50%; 
    justify-content: center;    
}

.fontes{
    color:#2b65c4
}

.icone{
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.topo{
    text-decoration: none;
    color: #314A72;
    padding: 20px;
    position: fixed;
    right:20px;
    bottom: 20px;
    z-index: 3;
    background:none;
    font-size: 20px;
 }

.rodape{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; 
    display:flex;
    justify-content: center;
    background: rgba(48, 95, 170, 0.13);
    border-top: 2px solid #D2D2D2;   
    font-family: 'Ubuntu';
    font-style: normal;
    font-size: 14px;
    line-height: 0px;
    padding: 28px; 
 }