@import url('https://fonts.googleapis.com/css2?family=Ubuntu');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: #E7ECF4;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main{
    padding:10px;
    padding-bottom: 60px;
}

.cabecalho{
    height: 70px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: rgba(48, 95, 170, 0.13);
    border-bottom: 2px solid #D2D2D2;
}

.cabecalho-imagem-logo{
    height: 70px;
    background: none;
}
 
.cabecalho-menu {
    display:flex;
    gap: 110px;
    padding: 25px;
    background: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 0px;
    
}

.cabecalho-menu-item-home{
    color: #383737;
}

.cabecalho-menu-item-processo{
    color: #383737;
}

.cabecalho-menu-item-projeto{
    color: #383737;
}

.cabecalho-menu-item-quemsomos{
    color: #383737;
}

.cabecalho-menu-item-fontes{
    color: #383737;
}

.conteudo-principal-icone{
    position: absolute;
    width: 565.47px;
    height: 469px;
    left: 791px;
    top: 85px;
}

.conteudo-principal-escrito-titulo{
    display:flex;
    justify-content: left;
    padding: 23px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 3px;
    color: #314A72;
}

.conteudo-principal-escrito-p1{
    position: absolute;
    width: 653px;
    height: 0px;
    left: 66px;
    top: 145px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    text-align: center;
    color: #2E2E2E;
    line-height: 1.3;

}

.conteudo-principal-escrito-p2{
    position: absolute;
    width: 653px;
    height: 0px;
    left: 66px;
    top: 315px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    text-align: center;
    color: #2E2E2E;
    line-height: 1.3;
}

.conteudo-principal-escrito-botao{
    display:flex;
    justify-content: center;
    position: absolute;
    width: 130px;
    height: 35px;
    left: 315px;
    top: 485px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    align-items: center;
    color: #FFFFFF;
    background: #2E6B7E;
    border-radius: 15px;

}

.conteudo-principal-escrito-botao:hover {
    background-color: #2e6b7eaf;
    }

.rodape{
    position: absolute;
    height: 60px;
    width:100%;
    bottom:0;
    display:flex;
    justify-content: center;
    background: rgba(48, 95, 170, 0.13);
    border-top: 2px solid #D2D2D2;
}

.rodape-escrito{
    font-family: 'Ubuntu';
    font-style: normal;
    font-size: 14px;
    line-height: 0px;
    background: none;
    padding: 28px;

}    