<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0">
    <title>Fontes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'stylefontes.css') }}">
</head>
<body>
    <div class="pagina">
        <header class="cabecalho">
            <link rel="shortcut icon" href="static\img\logo.svg" >
            <img class="cabecalho-imagem-logo" src="static\img\logo.svg" alt="Logo do Site">
            <nav class="cabecalho-menu">
                <a class="cabecalho-menu-item-home" href="{{ url_for('homepage') }}">Home</a>
                <a class="cabecalho-menu-item-processo" href="{{ url_for('processo') }}">O Processo</a>
                <a class="cabecalho-menu-item-projeto" href="{{ url_for('projeto') }}">O Projeto</a>
                <a class="cabecalho-menu-item-quemsomos" href="{{ url_for('sobre') }}">Quem Somos?</a>
                <a class="cabecalho-menu-item-fontes" href="{{ url_for('fontes') }}">Fontes</a>
                
            </nav>
        </header>

        <main>
            <section class="conteudo-principal">
                <div class="conteudo-principal-escrito">
                    <h1 class="conteudo-principal-escrito-titulo">Fontes</h1>
                    <div class="conteudo-principal-escrito-paragrafos">
                        <p class="p">
                            <h5>GitHub do Projeto:</h5>
                            <a class="fontes" target = "_blank" href="https://github.com/maafinotti/O-Acesso-a-Internet-no-Mundo">Acesso à Internet no Mundo - GitHub</a>
                            <br>
                            <br>
                            <h5>Datasets Utilizados:</h5>
                            <a class="fontes" target = "_blank" href="https://www.kaggle.com/datasets/rsrishav/world-population">População Mundial</a>
                            <br>
                            <a class="fontes" target = "_blank" href="https://www.kaggle.com/datasets/ramjasmaurya/1-gb-internet-price">Preços da Internet</a>
                            <br>
                            <a class="fontes" target = "_blank" href="https://www.kaggle.com/datasets/sansuthi/gapminder-internet">Uso Global da Internet</a>
                            <br>
                            <a class="fontes" target = "_blank" href="https://www.kaggle.com/datasets/tanuprabhu/list-of-countries-by-number-of-internet-users">Países por Número de Usuários da Internte</a>
                            <br>
                            <a class="fontes" target = "_blank" href="https://databank.worldbank.org/reports.aspx?source=2&country=BRA">Indicadores de Desenvolvimento</a>
                            <br>
                            <br>
                            <h5>Pesquisa:</h5>
                            <a class="fontes" target = "_blank" href="https://br.financas.yahoo.com/noticias/cerca-de-37-da-populacao-mundial-nao-tem-acesso-a-internet-153615820.html?guccounter=1&guce_referrer=aHR0cHM6Ly93d3cuZ29vZ2xlLmNvbS8&guce_referrer_sig=AQAAAIkmBsRPOm7_4-P_PhXJuH8JZryLL0G7bGi3rvDGbAVAn54thUXBXK_ZUFkwWUt_2ugt_9mJAyNQ2K9070MW1_DasBF5k-VUKg0K11dwyDS4fdE6q3VMWSbnMRM7bitPbSeVfOwvU1nAC4cxdPRtUBlguqUFQxvLYHn17Jctcplchttps://br.financas.yahoo.com/noticias/cerca-de-37-da-populacao-mundial-nao-tem-acesso-a-internet-153615820.html?guccounter=1&guce_referrer=aHR0cHM6Ly93d3cuZ29vZ2xlLmNvbS8&guce_referrer_sig=AQAAAIkmBsRPOm7_4-P_PhXJuH8JZryLL0G7bGi3rvDGbAVAn54thUXBXK_ZUFkwWUt_2ugt_9mJAyNQ2K9070MW1_DasBF5k-VUKg0K11dwyDS4fdE6q3VMWSbnMRM7bitPbSeVfOwvU1nAC4cxdPRtUBlguqUFQxvLYHn17Jctcplc">37% da população mundial não tem acesso à internet</a>
                            <br>
                            <a class="fontes" target = "_blank" href="https://www.insper.edu.br/noticias/acesso-a-internet-segue-desigual-no-mundo-aponta-pesquisa/">Acesso à internet segue desigual no mundo, aponta pesquisa</a>
                            <br>
                            <a class="fontes" target = "_blank" href="https://noticias.r7.com/tecnologia-e-ciencia/onu-29-bilhoes-de-pessoas-nao-tem-acesso-a-internet-30112021">ONU: 2,9 bilhões de pessoas não têm acesso à internet </a>
                            <br>
                            <a class="fontes" target = "_blank" href="https://datareportal.com/reports/digital-2022-global-overview-report">Digital 2022: Global Overview Report</a>
                            <br>
                            <a class="fontes" target = "_blank" href="https://www.infoescola.com/sociologia/exclusao-digital/">Exclusão Digital</a>
                            <br>
                            <a class="fontes" target = "_blank" href="https://www.iberdrola.com/compromisso-social/o-que-e-exclusao-digital#:~:text=As%20causas%20podem%20ir%20desde,t%C3%AAm%20de%20acessar%20este%20recurso">A exclusão digital no mundo e por que provoca desigualdade</a>
                            <br>
                            <a class="fontes" target = "_blank" href="https://online.maryville.edu/blog/examples-of-the-digital-divide/#:~:text=Causes%20and%20Examples%20of%20the,contribute%20to%20the%20digital%20divide">Examples of the Digital Divide in the Modern Day</a>
                            <br>
                            <a class="fontes" target = "_blank" href="https://mundoeducacao.uol.com.br/geografia/china-pais-mais-populoso.htm">China: o país mais populoso</a>
                            <br>
                            <a class="fontes" target = "_blank" href="https://www.cnbc.com/2021/10/06/heres-why-high-speed-internet-is-so-expensive-in-the-us.html">People in the U.S. pay more for slower internet than European, Canadian, and Asian counterparts, according to the Open Technology Institute</a>
                            <br>
                            <a class="fontes" target = "_blank" href="https://www.bbc.com/news/world-asia-india-47537201">Mobile data: Why India has the world's cheapest</a>
                            <br>
                            <a class="fontes" target = "_blank" href="https://noticias.r7.com/internacional/paises-da-africa-tem-internet-cara-problemas-de-conexao-e-censura-02092018">Países da África têm internet cara, problemas de conexão e censura</a>
                            <br>
                            <a class="fontes" target = "_blank" href="https://gauchazh.clicrbs.com.br/comportamento/noticia/2021/06/falta-de-internet-ou-acesso-precario-afetam-mais-pobres-e-potencializam-desigualdades-ckqcuwywn00ap0180sp3ytrjd.html">Falta de internet ou acesso precário afetam mais pobres e potencializam desigualdades</a>
                            <br>
                            <a class="fontes" target = "_blank" href="https://mundoeducacao.uol.com.br/geografia/paises-desenvolvidos.htm">Países desenvolvidos</a>
                            <br>
                            <a class="fontes" target = "_blank" href="https://databank.worldbank.org/reports.aspx?source=2&country=BRA">World Development Indicators</a>
                        </p>
                    </div>       
                </div>    
            </section>
        </main>

    <footer class="rodape"><span style="color: #314A72; background:none">INTERNET</span>&nbsp ACCES IN THE <span style="color: #314A72; background:none">&nbsp WORLD</span></footer>

    </div>
</body>
</html>