<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0">
    <title>Quem Somos?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'stylequemsomos.css') }}">
</head>
<body>
    <div class="pagina">
        <header class="cabecalho">
            <link rel="shortcut icon" href="static\img\logo.svg" >
            <img class="cabecalho-imagem-logo" src="static\img\logo.svg" alt="Logo do Site">
            <nav class="cabecalho-menu">
                <a class="cabecalho-menu-item-home" href="{{ url_for('homepage') }}">Home</a>
                <a class="cabecalho-menu-item-processo" href="{{ url_for('processo') }}">O Processo</a>
                <a class="cabecalho-menu-item-projeto" href="{{ url_for('projeto') }}">O Projeto</a>
                <a class="cabecalho-menu-item-quemsomos" href="{{ url_for('sobre') }}">Quem Somos?</a>
                <a class="cabecalho-menu-item-fontes" href="{{ url_for('fontes') }}">Fontes</a>
                
            </nav>
        </header>

        <main>
            <section class="conteudo-principal">
                <h1 class="conteudo-principal-escrito-titulo">Quem Somos?</h1>
                <img class="brasao-puc" src="static\img\brasao-puc.png" alt="Brasão da PUC-SP">
                <div class="conteudo-principal-escrito-paragrafos">
                    <p class="conteudo-principal-escrito-p1">
                        Olá 😄! Nós estudamos na PUC-SP e estamos cursando o segundo semestre do curso de 
                        Ciência de Dados e Inteligência Artificial. <br><br>Somos um grupo composto por 4 pessoas:
                        <br>
                        Ana Beatriz - RA00
                        <br>
                        Manoela Finotti - RA00319067
                        <br>
                        Melissa Assis - RA00
                        <br>
                        Vinicius Ferreira - RA00
                    </p>
                </div>
                </div>

            </section>

        </main>
        
        <footer class="rodape"><span style="color: #314A72; background:none">INTERNET</span>&nbsp ACCES IN THE <span style="color: #314A72; background:none">&nbsp WORLD</span></footer>

    </div>
</body>
</html>